.feature-container {
    background-color: #323232;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    // grid-template-rows: 10% repeat(3, 30%);
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 0;
}

h2 {
    font-size: 5rem;
    padding: 0;
    margin: 0;

    &.feature-title {
        font-family: "Lobster", sans-serif;
        color: #fff;
        grid-column: 2/3;
        grid-row: 2/3;
        font-weight: lighter;
    }
}

.card-feature {
    grid-column: 2/5;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.card-feature-item {
    width: 25%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 90%;
    border-radius: 2rem;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
    }

    p {
        &.title {
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
        }

        &.description{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.wave{
    position: absolute;
    /* left: 0; */
    /* bottom: 0; */
    /* z-index: 1; */
    width: 100%;
    bottom: 0;
    z-index: -1;
    height: 30%;
}
